[Unit]
Description=VLog Daily Processing Service

[Service]
Type=oneshot
User=kafka
WorkingDirectory=/home/kafka/projects/vlogrs
ExecStart=/home/kafka/.cargo/bin/cargo run --release -- evaluate --date yesterday
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=vlog-daily
